<h3>Filtriranje mjesečnih planova</h3>
<div class="divider"></div>
<hr>
<form class="form-horizontal" name="filterForm">
    <div class="row">
        <div class="col-sm-3">
            <label class="control-label">Mjesec</label>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Mjesec" maxlength="2" integermask ng-model="filter.month" required>
        </div>
    </div>
    <div class="divider"></div>

    <div class="row">
        <div class="col-sm-3">
            <label class="control-label">Godina</label>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Godina" maxlength="4" integermask ng-model="filter.year" required>
        </div>
    </div>
    <div class="divider"></div>

    <div class="row">
        <div class="col-sm-3">
            <label class="control-label">Područje objekta</label>
        </div>
        <div class="col-sm-5">
            <ui-select multiple ng-model="filter.area" theme="bootstrap" close-on-select="true">
                <ui-select-match placeholder="Područje">{{$item.Name}}</ui-select-match>
                <ui-select-choices repeat="item in areas | filter: $select.search">
                    <div ng-bind-html="item.Name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="divider"></div>

    <div class="row">
        <div class="col-sm-2 col-sm-offset-10">
            <button class="btn waves-effect waves-button waves-float waves-indigo pull-right" ng-click="searchMonthlyPlans()" ng-disabled="filterForm.$invalid || filter.area.length == 0">Filtriraj</button>
        </div>
    </div>
</form>